<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Catalogo de Usuarios</h1>

    <a href="/cp">Productos</a> 
    <a href="/cu">Usuarios</a> 
    <a href="/cc">Clientes</a>

    <table border="1">
        <tr><th>Id usuario</th><th>Nombre usuario</th><th>Primer apellido</th><th>Segundo apellido</th></tr>
        <% usuarios.forEach(usuario => { %> 
            <tr><td><%= usuario.id_usuario %></td><td><%= usuario.nombre_usuario %></td><td><%= usuario.ap1_usuario %></td>
                <td><%= usuario.ap2_usuario %></td></tr>
        <% }); %>
    </table>
    
</body>
</html>